<div class="container">
  <div class="panel-group">
    <div class="he-panel-main panel panel-default">
      <div class="he-padding-top-20 col-md-10 col-md-offset-1 col-xs-12 ">
        <h1>Inscription</h1>
        <hr/>
      </div>
      <div class="row">
        <div class="he-padding-10 col-md-3 col-md-offset-1 col-xs-6 ">
          Nom
          <div class="form-group ">
            <input class="form-control" type="text"/>
          </div>
          <div>

          </div>
        </div>
        <div class="he-padding-10 col-md-3 col-xs-6 ">
          Prénom
          <div class="form-group ">
            <input class="form-control" type="text"/>
          </div>
        </div>
        <div class="he-padding-10 col-md-2 col-xs-6 ">
          Date de naissance
          <div class="input-group date">
            <input class="form-control" type="text"/>
            <span class="input-group-addon">
                  <span>
                    <i class="glyphicon glyphicon-calendar">

                    </i>
                  </span>
                </span>
          </div>
          <script>$(function () {
            $('#j_idt88').datetimepicker({
              ignoreReadonly: false,
              collapse: true,
              dayViewHeaderFormat: 'MMMM YYYY',
              focusOnShow: true,
              calendarWeeks: true,
              stepping: 1,
              toolbarPlacement: 'default',
              viewMode: 'days',
              date: moment('null', 'DD/MM/YY'),
              locale: 'fr',
              format: 'DD/MM/YY'
            });
          });</script>
        </div>
      </div>
      <div class="row">
        <div class="he-padding-10 he-padding-top-20 he-txt-18 col-md-10 col-md-offset-1 col-xs-12 ">
          Contact :
        </div>
      </div>
      <div class="row">
        <div class="he-padding-10 col-md-4 col-md-offset-1 col-xs-12 ">
          Email
          <div class="form-group ">
            <input class="form-control" type="text"/>
          </div>
        </div>
        <div class="he-padding-10 col-md-3 col-xs-6 ">
          Téléphone
          <div class="form-group ">
            <input class="form-control" type="text"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="he-padding-top-40 he-padding-bottom-40 col-md-7 col-md-offset-1 ">
          <div class="he-border-light panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"> Créez vos identifiants de compte</h4>
            </div>
            <div>
              <div class="panel-body ui-hidden-container">
                <div class="he-padding-10 col-md-10 col-md-offset-1 ">
                  <div class="form-group ">
                    <div class="input-group">
                          <span class="input-group-addon">
                            <span><i class="glyphicon glyphicon-user">

                            </i>
                            </span>
                          </span>
                      <input class="form-control" placeholder="Identifiant" type="text"/>
                    </div>
                  </div>
                </div>
                <div class="he-padding-10 col-md-10 col-md-offset-1 ">
                  <div class="form-group ">
                    <div class="input-group">
                          <span class="input-group-addon">
                            <span><i class="fa fa-key">

                            </i>
                            </span>
                          </span>
                      <input class="form-control" placeholder="Mot de passe" size="0" type="password"/>
                    </div>
                  </div>
                </div>
                <div class="he-padding-10 col-md-10 col-md-offset-1 ">
                  <div class="form-group ">
                    <div class="input-group">
                          <span class="input-group-addon">
                            <span><i class="fa fa-key">

                            </i>
                            </span>
                          </span>
                      <input class="form-control" placeholder="Confirmer le mot de passe" size="0" type="password"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="he-padding-top-40 he-padding-bottom-40 col-md-2 col-md-offset-1 hidden-xs  hidden-sm ">
          <button class="btn btn-default he-btn-20 he-width-100 he-top-10-rem" type="submit">
            Valider
          </button>
        </div>
        <div class="he-padding-top-40 col-md-offset-1 col-xs-12 hidden-md  hidden-lg ">
          <button class="btn btn-default he-btn-20 he-width-100" type="submit">
            Valider
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


