<form action="/msp-front-angular/contact-us.html" enctype="application/x-www-form-urlencoded" method="post">
  <input type="hidden"/>

  <div class="container">
    <div class="panel-group ">
      <div class="he-panel-main panel panel-default">
        <div class="he-padding-top-20 col-md-10 offset-md-1 col-xs-12 ">
          <h1>Formulaire de contact</h1>
          <hr/>
        </div>
        <div class="form-group">
          <h5 style="color: #ff3333; display: flex; justify-content: center"></h5>
          <div class="row">
            <div class="he-padding-top-20 col-md-10 offset-md-1 col-xs-12 ">
              <div class="form-group ">
                <select class="form-control">
                  <option data-label="--Type du message--" value="">--Type du message--</option>
                  <option data-label="HEBERGEMENT" value="HEBERGEMENT">HEBERGEMENT</option>
                  <option data-label="PAIEMENT" value="PAIEMENT">PAIEMENT</option>
                  <option data-label="RECLAMATION" value="RECLAMATION">RECLAMATION</option>
                  <option data-label="AUTRE" value="AUTRE">AUTRE</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="he-padding-top-20 col-md-10 offset-md-1 col-xs-12 ">
            <div class="form-group " id="j_idt90">
              <label class=" control-label" for="input_j_idt90">Nom</label>
              <input class="form-control" id="input_j_idt90" name="input_j_idt90" placeholder="Nom" type="text"/>
            </div>
          </div>
          <div class="he-padding-top-20 col-md-10 offset-md-1 col-xs-12 ">
            <div class="form-group ">
              <label class=" control-label">Prénom</label>
              <input class="form-control" placeholder="Prénom" type="text"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="he-padding-top-20 col-md-10 offset-md-1 col-xs-12 ">
            <div class="form-group ">
              <label class=" control-label" style="width:80px;">E-mail</label>
              <div class="input-group">
                <span class="input-group-addon">@</span>
                <input class="form-control" placeholder="E-mail" type="text"/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="he-padding-top-20 col-md-10 offset-md-1 col-xs-12 ">
            <div class="form-group ">
              <label class=" control-label">Message</label>
              <textarea class="form-control" placeholder="Ecrire votre message" rows="5" type="text">
    </textarea>
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="he-padding-top-20 col-md-10 offset-md-1 col-xs-12 ">
            <div class="col-lg-12">
              <button class="btn btn-default btn-block" type="submit">Envoyer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" value="false"/>
</form>
<form action="/msp-front-angular/contact-us.html" enctype="application/x-www-form-urlencoded" method="post">
  <input type="hidden"/>
</form>

