<div class="he-depth-top fixed-top"
     id="navBar">
  <div class="he-bkg-dark he-navbar-height">
    <div class="he-flex-parent he-flex-between">
      <div class="he-flex-start he-txt-light he-depth-top he-kebab-visibility" style="display: flex">
        <div class="he-padding-5">
          <button class="btn btn-default he-btn-14 he-btn-visibility"
                  routerLink="/welcome">Accueil
          </button>
        </div>
        <div class="he-padding-5">
          <button class="btn btn-default he-btn-14 he-btn-visibility"
                  routerLink="/product-list">Locations
          </button>
        </div>
        <div *ngIf="!_auth.isLoggedIn()" class="he-padding-5">
          <button class="btn btn-default he-btn-14 he-btn-visibility"
                  routerLink="/login">Connexion
          </button>
        </div>
        <div *ngIf="!_auth.isLoggedIn()" class="he-padding-5">
          <button class="btn btn-default he-btn-14 he-btn-visibility"
                  routerLink="/registration">Inscription
          </button>
        </div>
        <div *ngIf="_auth.isLoggedIn()" class="he-padding-5">
          <button class="btn btn-default he-btn-14 he-btn-visibility"
                  routerLink="/my-perso-account-client">Espace perso
          </button>
        </div>
        <div *ngIf="_auth.isLoggedIn()" class="he-padding-5">
          <button class="btn btn-default he-btn-14 he-btn-visibility"
                  routerLink="/statistics">Statistiques
          </button>
        </div>
        <div *ngIf="_auth.isLoggedIn()" class="he-padding-5">
          <button (click)="doLogout()"
                  class="btn btn-default he-btn-14 he-btn-visibility"
                  href="javascript:void(0)">Déconnexion
          </button>
        </div>
        <div class="he-padding-5">
          <button class="btn btn-default he-btn-14 he-btn-visibility"
                  routerLink="/contact-us">Nous contacter
          </button>
        </div>
      </div>
    </div>
    <app-simple-search></app-simple-search>
    <div class="he-width-100 he-bottom-0-8-rem">
      <hr class="he-depth-top"/>
    </div>
  </div>
</div>
