<div class="he-flex-parent he-flex-start he-bkg-dark he-depth-top he-navbar-height" id="navBar">
  <div class="he-navbar-height he-stand-out" id="navBarStandIn"></div>
  <nav>
    <div class="he-flex-start he-margin-5 he-padding-5" style="display: flex">
      <div class="he-padding-5"><a class="btn btn-default he-btn-14 he-btn-visibility" class="btn btn-default he-btn-14 he-btn-visibility"
                                   routerLink="/welcome">Accueil </a></div>
      <div class="he-padding-5"><a class="btn btn-default he-btn-14 he-btn-visibility" routerLink="/products-catalog">Locations</a>
      </div>
      <div class="he-padding-5"><a class="btn btn-default he-btn-14 he-btn-visibility" routerLink="/login">Connexion</a>
      </div>
      <div class="he-padding-5"><a class="btn btn-default he-btn-14 he-btn-visibility" routerLink="/registration">Inscription</a>
      </div>
      <div class="he-padding-5"><a class="btn btn-default he-btn-14 he-btn-visibility" routerLink="contact-us">Nous
        contacter</a></div>
    </div>

  </nav>
  <app-simple-search></app-simple-search>
</div>
<div class="he-width-100 he-bottom-1-9-rem">
  <hr class="he-depth-top"/>
</div>
