<div class="he-flex-parent he-flex-start he-bkg-dark he-depth-top he-navbar-height" id="navBar">
<div class="he-navbar-height he-stand-out" id="navBarStandIn"></div>
<nav>
  <div class="he-flex-start he-margin-5 he-padding-5" style="display: flex">
  <div class="he-padding-5"><a routerLink="/welcome" class="btn btn-default he-btn-14 he-btn-visibility">Accueil </a></div>
  <div class="he-padding-5"><a routerLink="/products-catalog" class="btn btn-default he-btn-14 he-btn-visibility">Locations</a></div>
  <div class="he-padding-5"><a routerLink="/authentication" class="btn btn-default he-btn-14 he-btn-visibility">Connexion</a></div>
  <div class="he-padding-5"><a routerLink="/registration" class="btn btn-default he-btn-14 he-btn-visibility">Inscription</a></div>
  <div class="he-padding-5"><a routerLink="contact-us" class="btn btn-default he-btn-14 he-btn-visibility">Nous contacter</a></div>
  </div>
</nav>
</div>
