<div class="container">
  <div class="panel-group ">
    <div class="he-panel-main panel panel-default">
      <div class="he-padding-top-20 col-md-10 col-md-offset-1 col-xs-12 ">
        <h1>Nos locations</h1>
        <hr />
      </div>
    <ul class="products">
      <li *ngFor="let product of products">
        <a routerLink="/product/{{product.idProduct}}">
          <span class="badge">{{product.idProduct}}</span> {{product.title}}
        </a>
      </li>
    </ul>
    </div>
  </div>
</div>


<ui:repeat var="p" value="#{productsCatalogManagedBean.products}">
  <b:row>
    <b:column offset-md="1" col-md="4" col-xs="12"
              style-class="he-padding-10">
      <div class="he-flex-parent he-flex-overflow-hidden he-top-1-rem">
        <ui:repeat var="pp" value="#{p.productPictures}">
          <b:image height="280"
                   value="./resources/pictures/homes_pictures/#{pp.picture}"
                   alt="no picture found"/>
        </ui:repeat>
      </div>
    </b:column>
    <b:column col-md="6" col-xs="12">
      <b:row>
        <b:column col-md="12" col-xs="12">
          <h3>
            <h:outputText value="#{p.title}"/>
          </h3>
        </b:column>
      </b:row>
      <b:row>
        <b:column col-md="12" col-xs="12">
          <h4>
            <h:outputText value="#{p.description}"/>
          </h4>
        </b:column>
      </b:row>

    </b:column>
  </b:row>
  <b:row>
    <b:column offset-md="3" col-md="6" col-xs="12" style-class="he-txt-center he-margin-top-8">
      <b:commandButton value="Visiter" style-class="he-btn-14"
                       action="#{productsCatalogManagedBean.goToProduct(p)}"/>
      <hr/>
    </b:column>
  </b:row>
</ui:repeat>
