<div class="container">
  <div class="panel-group ">
    <div class="he-panel-main panel panel-default">
      <div class="row">
        <div class="he-padding-10 he-txt-center col-md-12 col-xs-12 ">
          <hr/>
          <h2><span class="he-txt-italic">Lofts, maisons et appartements à louer dans les plus beaux quartiers de Paris !</span>
          </h2>
          <hr/>
        </div>
      </div>
      <div class="row">
        <app-multicriteria-search></app-multicriteria-search>
      </div>
      <div class="row">
        <div class="he-padding-10 col-md-4 col-md-offset-1 col-xs-12 ">
          <div class="  ">
            <ngb-carousel *ngIf="images">
              <ng-template ngbSlide>
                <div class="wrapper">
                  <img [src]="images[0]" alt="Random first slide">
                </div>
                <div class="carousel-caption">
                  <h3>First Slide</h3>
                  <p> Angular 10 Carousel Example </p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="wrapper">
                  <img [src]="images[1]" alt="Random second slide">
                </div>
                <div class="carousel-caption">
                  <h3>Second Slide</h3>
                  <p> Check out Techiediaries</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="wrapper">
                  <img [src]="images[2]" alt="Random third slide">
                </div>
                <div class="carousel-caption">
                  <h3>Third Slide</h3>
                  <p>for full tutorial...</p>
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
        <div class="col-md-6 col-xs-12" id="j_idt127">
          <h4 class="he-txt-center he-padding-top-40">
            Nous possédons une offre de 53 logements de luxe dans Paris
            intra-muros. <br/> Notre clientèle est haut de gamme et est
            directement affiliée à notre Club Select dès leur première
            réservation.
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-1 col-xs-12">
          <h4 class="he-txt-center he-padding-top-40 he-padding-bottom-40">

            Le taux de satisfaction de notre clientèle est de 99,3%.<br/>
            Notre client est roi. <br/> Vous aussi rejoignez notre Club, et
            profitez de notre réseau JetSet pour passer des soirées
            inoubliables lors de nos multiples évènements.

          </h4>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="  ">
            <ngb-carousel *ngIf="images">
              <ng-template ngbSlide>
                <div class="wrapper">
                  <img [src]="images[0]" alt="Random first slide">
                </div>
                <div class="carousel-caption">
                  <h3>First Slide</h3>
                  <p> Angular 10 Carousel Example </p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="wrapper">
                  <img [src]="images[1]" alt="Random second slide">
                </div>
                <div class="carousel-caption">
                  <h3>Second Slide</h3>
                  <p> Check out Techiediaries</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="wrapper">
                  <img [src]="images[2]" alt="Random third slide">
                </div>
                <div class="carousel-caption">
                  <h3>Third Slide</h3>
                  <p>for full tutorial...</p>
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

