<div class="container">
  <div class="panel-group ">
    <div class="he-panel-main panel panel-default">
      <div class="row">
        <div class="he-padding-10 he-txt-center col-md-12 col-xs-12 ">
          <hr/>
          <h2><span class="he-txt-italic">Lofts, maisons et appartements à louer dans les plus beaux quartiers de Paris !</span>
          </h2>
          <hr/>
        </div>
      </div>
      <app-multicriteria-search></app-multicriteria-search>
      <div class="row">
        <div class="he-padding-10 col-md-4 col-md-offset-1 col-xs-12 ">
          <div class="  ">
            <div class="carousel slide " data-interval="5000" data-pause="hover" data-ride="carousel" data-wrap="true">
              <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#j_idt120">
                </li>
                <li data-slide-to="1" data-target="#j_idt120"></li>
                <li data-slide-to="2" data-target="#j_idt120"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="item active" id="j_idt121">
                  <img class="he-padding-2  " draggable="true" id="j_idt122"
                       src="../assets/pictures/homes_pictures/home1/photo1.png"/>
                </div>
                <div class="item" id="j_idt123">
                  <img class="he-padding-2  " draggable="true" id="j_idt124"
                       src="../assets/pictures/homes_pictures/home3/photo1.png"/>
                </div>
                <div class="item" id="j_idt125">
                  <img class="he-padding-2  " draggable="true" id="j_idt126"
                       src="../assets/pictures/homes_pictures/home5/photo1.png"/>
                </div>
              </div>
              <a class="left carousel-control" data-slide="prev" href="#j_idt120" role="button">
                  <span aria-hidden="true" class="glyphicon glyphicon-chevron-left">

                  </span><span class="sr-only">Previous</span>
              </a><a class="right carousel-control" data-slide="next" href="#j_idt120" role="button">
              <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span><span
              class="sr-only">Next</span>
            </a></div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12" id="j_idt127">
          <h4 class="he-txt-center he-padding-top-40">
            Nous possédons une offre de 53 logements de luxe dans Paris
            intra-muros. <br/> Notre clientèle est haut de gamme et est
            directement affiliée à notre Club Select dès leur première
            réservation.
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-1 col-xs-12">
          <h4 class="he-txt-center he-padding-top-40 he-padding-bottom-40">

            Le taux de satisfaction de notre clientèle est de 99,3%.<br/>
            Notre client est roi. <br/> Vous aussi rejoignez notre Club, et
            profitez de notre réseau JetSet pour passer des soirées
            inoubliables lors de nos multiples évènements.

          </h4>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="  ">
            <div class="carousel slide " data-interval="5000" data-pause="hover" data-ride="carousel" data-wrap="true">
              <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#j_idt133">

                </li>
                <li data-slide-to="1" data-target="#j_idt133">

                </li>
                <li data-slide-to="2" data-target="#j_idt133">

                </li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="item active" id="j_idt134">
                  <img class="he-padding-2  " draggable="true" id="j_idt135"
                       src="../assets/pictures/homes_pictures/home4/photo2.png"/>
                </div>
                <div class="item" id="j_idt136">
                  <img class="he-padding-2  " draggable="true" id="j_idt137"
                       src="../assets/pictures/homes_pictures/home2/photo4.png"/>
                </div>
                <div class="item" id="j_idt138">
                  <img class="he-padding-2  " draggable="true" id="j_idt139"
                       src="../assets/pictures/homes_pictures/home1/photo5.png"/>
                </div>
              </div>
              <a class="left carousel-control" data-slide="prev" href="#j_idt133" role="button">
                  <span aria-hidden="true" class="glyphicon glyphicon-chevron-left">

                  </span><span class="sr-only">Previous</span></a>
              <a class="right carousel-control" data-slide="next" href="#j_idt133" role="button">
                    <span aria-hidden="true" class="glyphicon glyphicon-chevron-right">

                    </span><span class="sr-only">Next</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

