<div class="container">
  <div class="panel-group ">
    <div class="he-panel-main panel panel-default" *ngIf="product">
      <div class="row">
        <div class="he-margin-bottom-22 col-md-12 col-xs-12 ">
          <div class="  ">
            <ngb-carousel *ngIf="product.productPictures">
              <ng-template ngbSlide>
                <div class="he-padding-2">
                  <img [src]="(imagePath + product.productPictures[0].picture)" alt="no picture found">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="he-padding-2">
                  <img [src]="(imagePath + product.productPictures[1].picture)" alt="no picture found">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="he-padding-2">
                  <img [src]="(imagePath + product.productPictures[2].picture)" alt="no picture found">
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="he-margin-bottom-10 col-md-9 offset-md-1 col-xs-12 ">
          <h2>
            {{product.title}}
          </h2>
        </div>
      </div>
      <div class="row he-bottom-1-5-rem">
        <div class="col-md-10 offset-md-1 col-xs-12">
          <h4>
            {{product.property.address}} - {{product.property.addressComplement}} - {{product.property.zipCode}} Paris
          </h4>
          <hr/>
        </div>
      </div>
      <div class="row he-bottom-2-rem">
        <div class="he-txt-right he-txt-20 col-md-10 offset-md-1 col-xs-12 ">
          {{product.property.size}}m² -
          {{product.property.maxGuests}} personnes
          {{petsAuthorized}}
        </div>
      </div>

      <div class="row he-padding-top-20">
        <div class="col-md-10 offset-md-1 col-xs-12">
          <h4>
            {{product.description}}
          </h4>
        </div>
      </div>

      <div class="row">
        <div class="he-txt-right offset-md-8 col-md-2 col-xs-12 he-top-2-2-rem">
          <h5 *ngIf="convertedResult !== undefined">La nuit : {{convertedResult}}</h5>
          <h5 *ngIf="convertedResult === undefined">La nuit : {{product.property.dailyRate}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="offset-md-10 col-md-2 col-xs-12 he-right-1-5-rem">
          <div class="form-group ">
            <ng-select autofocus
                       class="he-width-5-5-rem"
                       [items]="devises | async"
                       [(ngModel)]="codeDevise"
                       appearance="outline"
                       [searchable]="false"
                       [clearable]="false"
                       (change)="getConvertedPrice()"
            ></ng-select>
          </div>
        </div>
      </div>

<!--      <div class="row he-padding-top-40">-->
<!--        <div class="he-margin-bottom-10 col-md-10 offset-md-1 col-xs-12 ">-->
<!--          <h3 class="he-txt-italic">Les chambres et salles d'eau</h3>-->
<!--          <hr/>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="he-margin-bottom-10 col-md-1 ">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row he-padding-top-40">-->
<!--        <div class="he-margin-bottom-10 col-md-10 offset-md-1 col-xs-12 ">-->
<!--          <h3 class="he-txt-italic">Les équipements</h3>-->
<!--          <hr/>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="he-margin-bottom-10 col-md-1 ">-->
<!--        </div>-->
<!--      </div>-->

      <!-- Location content bloc: Start -->
      <div class="row he-padding-top-40" id="uneRow">
        <div class="col-md-10 offset-md-1 col-xs-12" id="j_idt144">
          <h3 class="he-txt-italic">Localisation</h3>
          <hr/>
          <div class="map" id="map"></div>
          <span id="fulladdr">{{product.property.address}} {{product.property.zipCode}} Paris</span></div>
      </div>
      <div class="row he-padding-top-20" id="j_idt146">
        <div class="he-txt-18 col-md-5 offset-md-1 col-xs-12 " id="j_idt147"></div>
      </div>

      <div class="row he-padding-top-40">
        <div class="col-md-10 offset-md-1 col-xs-12">
          <h3 class="he-txt-italic">Les appréciations</h3>
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1 he-flex-parent-column">

          <div *ngFor='let evaluation of product.evaluations'>
            <div class="row he-evaluation-panel">
              <div class="offset-md-1 col-md-6">
                <h4>
                  Résidence :
                  <ng-template #t let-fill="fill">
                    <span [class.full]="fill === 100" class="star he-top-0-5-rem">
                      <span [style.width.%]="fill" class="half">&hearts;</span>&hearts;
                    </span>
                  </ng-template>
                  <ngb-rating [max]="5" [rate]="evaluation.residence" [readonly]="true"
                              [starTemplate]="t"></ngb-rating>
                </h4>
                <h4>
                  Emplacement :
                  <ng-template #t let-fill="fill">
                    <span [class.full]="fill === 100" class="star he-top-0-5-rem">
                      <span [style.width.%]="fill" class="half">&hearts;</span>&hearts;
                    </span>
                  </ng-template>
                  <ngb-rating [max]="5" [rate]="evaluation.location" [readonly]="true"
                              [starTemplate]="t"></ngb-rating>
                </h4>
                <h4>
                  Rapport qualité/prix :
                  <ng-template #t let-fill="fill">
                    <span [class.full]="fill === 100" class="star he-top-0-5-rem">
                      <span [style.width.%]="fill" class="half">&hearts;</span>&hearts;
                    </span>
                  </ng-template>
                  <ngb-rating [max]="5" [rate]="evaluation.valueForMoney" [readonly]="true"
                              [starTemplate]="t"></ngb-rating>
                </h4>
                <h4>
                  Communication :
                  <ng-template #t let-fill="fill">
                    <span [class.full]="fill === 100" class="star he-top-0-5-rem">
                      <span [style.width.%]="fill" class="half">&hearts;</span>&hearts;
                    </span>
                  </ng-template>
                  <ngb-rating [max]="5" [rate]="evaluation.communication" [readonly]="true"
                              [starTemplate]="t"></ngb-rating>
                </h4>
              </div>

              <div class="col-md-4 he-flex-parent-column he-flex-between he-padding-top-40 he-padding-bottom-40">
                <h4>"{{evaluation.commentary}}"
                </h4>
                <h4 class="he-txt-right">
                  <em> - {{evaluation.username}}</em>
                </h4>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="he-depth-top fixed-bottom" id="lowerBar">
  <div class="he-width-100 he-top-1-rem">
    <hr class="he-depth-top"/>
  </div>
  <div class="he-bkg-dark he-navbar-height">
    <div class="he-flex-parent he-flex-center">
      <div>
        <h6>Date d'arrivée</h6>
        <input type="text" class="he-width-5-5-rem he-height-2-rem he-margin-10" [(ngModel)]="checkInDate">
      </div>
      <div>
        <h6>Date de départ</h6>
        <input type="text" class="he-width-5-5-rem he-height-2-rem he-margin-10" [(ngModel)]="checkOutDate">
      </div>
      <div>
        <h6>Nb personnes</h6>
        <input type="number" class="he-width-4-rem he-height-2-rem he-margin-10" [(ngModel)]="guestsNumber">
      </div>
      <div *ngIf="!_auth.isLoggedIn()" class="he-padding-5 he-txt-center he-top-0-5-rem">
        <button (click)="goToRegistration()"
                class="btn btn-default he-btn-14 he-btn-visibility">S'inscrire pour réserver
        </button>
      </div>
      <div *ngIf="_auth.isLoggedIn()" class="he-padding-5 he-txt-center he-margin-6">
        <button routerLink="/payment
                /{{product.idProduct}}
                /{{checkInDate}}
                /{{checkOutDate}}
                /{{guestsNumber}}"
                class="btn btn-default he-btn-14 he-btn-visibility">Réserver
        </button>
      </div>
    </div>
  </div>
</div>


