<div class="container">
  <div class="panel-group ">
    <div class="he-panel-main panel panel-default">
      <div class="row">
        <div class="he-margin-bottom-22 col-md-12 col-xs-12 ">
          <div class="  ">
            <ngb-carousel *ngIf="product.productPictures">
              <ng-template ngbSlide>
                <div class="he-padding-2">
                  <img [src]="(imagePath + product.productPictures[0].picture)" alt="no picture found">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="he-padding-2">
                  <img [src]="(imagePath + product.productPictures[1].picture)" alt="no picture found">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="he-padding-2">
                  <img [src]="(imagePath + product.productPictures[2].picture)" alt="no picture found">
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="he-margin-bottom-10 col-md-9 offset-md-1 col-xs-12 ">
          <h2>
            {{product.title}}
          </h2>
        </div>
        <div class="he-top-1-rem col-md-1 col-xs-12 ">
          <!--    <b:commandButton action="#{productManagedBean.addBookmark()}"-->
          <!--                     ajax="true"-->
          <!--                     autoUpdate="true"-->
          <!--                     icon-awesome="star-o"-->
          <!--                     iconSize="2x"-->
          <!--                     style="display: #{productManagedBean.isNotBookmarked}"-->
          <!--                     style-class="he-margin-5 he-bkg-dark"-->
          <!--                     tooltip="Ajouter aux Favoris"/>-->
          <!--    <b:commandButton action="#{productManagedBean.removeBookmark()}"-->
          <!--                     ajax="true"-->
          <!--                     autoUpdate="true"-->
          <!--                     icon-awesome="star"-->
          <!--                     iconSize="2x"-->
          <!--                     style="display: #{productManagedBean.isBookmarked}"-->
          <!--                     style-class="he-margin-5 he-bkg-dark he-txt-gold"-->
          <!--                     tooltip="Retirer des Favoris"/>-->
        </div>
      </div>
      <div class="row he-bottom-1-5-rem">
        <div class="col-md-10 offset-md-1 col-xs-12">
          <h4>
            {{product.property.address}} - {{product.property.addressComplement}} - {{product.property.zipCode}} Paris
          </h4>
          <hr/>
        </div>
      </div>
      <div class="row he-bottom-2-rem">
        <div class="he-txt-right he-txt-20 col-md-10 offset-md-1 col-xs-12 ">
          {{product.property.size}}m² -
          {{product.property.maxGuests}} personnes
          {{petsAuthorized}}
        </div>
      </div>

      <div class="row he-padding-top-20">
        <div class="col-md-10 offset-md-1 col-xs-12">
          <h4>
            {{product.description}}
          </h4>
        </div>
      </div>

      <div class="row">
        <div class="he-txt-right offset-md-8 col-md-2 col-xs-12 he-top-2-2-rem">
          <h5 *ngIf="convertedResult !== undefined">Nuitée : {{convertedResult}}</h5>
          <h5 *ngIf="convertedResult === undefined">Nuitée : {{product.property.dailyRate}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="offset-md-10 col-md-2 col-xs-12 he-right-1-5-rem">
          <div class="form-group ">
            <ng-select autofocus
                       class="he-width-5-5-rem"
                       [items]="devises | async"
                       [(ngModel)]="codeDevise"
                       appearance="outline"
                       [searchable]="false"
                       [clearable]="false"
                       (change)="getConvertedPrice()"
            ></ng-select>
          </div>
        </div>
      </div>

      <div class="row he-padding-top-40">
        <div class="he-margin-bottom-10 col-md-10 offset-md-1 col-xs-12 ">
          <h3 class="he-txt-italic">Les chambres et salles d'eau</h3>
          <hr/>
        </div>
      </div>
      <div class="row">
        <div col-md="1" style-class="he-margin-bottom-10">
        </div>
      </div>
      <div class="row">
        <div class="he-margin-bottom-10 col-md-1 ">
        </div>
        <!--          <div col-md="10" col-xs="12"-->
        <!--                    style-class="he-margin-bottom-10 he-flex-parent he-flex-start he-wrap">-->
        <!--            <ui:repeat value="{{product.property.bedrooms}}"-->
        <!--                       var="b">-->
        <!--              <b:panel-->
        <!--                collapsible="false"-->
        <!--                style-class="he-margin-5 he-border-light he-border-radius-0 he-txt-center he-min-width-15-rem"-->
        <!--                title="Chambre">-->
        <!--                <ui:repeat value="#{b.bedroomBedTypes}" var="bbt">-->
        <!--                  <b:image height="32"-->
        <!--                           value="..assets/pictures/icons/#{bbt.bedType.icon}"/>-->
        <!--                  <h4>-->
        <!--                    <h:outputText value="#{bbt.bedType.name}"/>-->
        <!--                  </h4>-->
        <!--                </ui:repeat>-->
        <!--              </b:panel>-->
        <!--            </ui:repeat>-->
        <!--            <ui:repeat value="#{productManagedBean.product.property.bathrooms}"-->
        <!--                       var="ba">-->
        <!--              <b:panel-->
        <!--                collapsible="false"-->
        <!--                style-class="he-margin-5 he-border-light he-border-radius-0 he-txt-center he-min-width-15-rem"-->
        <!--                title="Salle d'eau">-->
        <!--                <ui:repeat value="#{ba.bathroomItemBathrooms}" var="bib">-->
        <!--                  <b:image height="32"-->
        <!--                           value="./resources/pictures/icons/#{bib.bathroomItem.icon}"/>-->
        <!--                  <h4>-->
        <!--                    <h:outputText value="#{bib.bathroomItem.name}"/>-->
        <!--                  </h4>-->
        <!--                </ui:repeat>-->
        <!--              </b:panel>-->
        <!--            </ui:repeat>-->
        <!--          </div>-->
      </div>
      <div class="row he-padding-top-40">
        <div col-md="10" col-xs="12" offset-md="1"
             style-class="he-margin-bottom-10">
          <h3 class="he-txt-italic">Les équipements</h3>
          <hr/>
        </div>
        <!--          <div col-md="10" col-xs="12" offset-md="1"-->
        <!--                    style-class="he-margin-bottom-10 he-flex-parent-column he-flex-start he-wrap">-->
        <!--            <div class="row">-->
        <!--              <ui:repeat value="#{productManagedBean.product.property.propertyState.propertyStateAmenities}"-->
        <!--                         var="psa">-->
        <!--                <div col-md="3" col-xs="6">-->
        <!--                  <h4>-->
        <!--                    <h:outputText value="- #{psa.amenity.name} (#{psa.quantity})"/>-->
        <!--                  </h4>-->
        <!--                </div>-->
        <!--              </ui:repeat>-->
        <!--            </div>-->
        <!--          </div>-->
      </div>

      <!-- Location content bloc: Start -->
      <div class="row he-padding-top-40" id="uneRow">
        <div class="col-md-10 offset-md-1 col-xs-12" id="j_idt144">
          <h3 class="he-txt-italic">Localisation</h3>
          <hr/>
          <div class="map" id="map"></div>
          <span id="fulladdr">{{product.property.address}} {{product.property.zipCode}} Paris</span></div>
      </div>
      <div class="row he-padding-top-20" id="j_idt146">
        <div class="he-txt-18 col-md-5 offset-md-1 col-xs-12 " id="j_idt147"></div>
      </div>
      <!-- Location content bloc: End -->
      <div>
        <div *ngIf="!_auth.isLoggedIn()" class="he-padding-5">
          <p>Veuillez vous inscrire afin de profiter de My Sweet Paris</p>
        </div>
        <div *ngIf="_auth.isLoggedIn()" class="he-padding-5">
          <button (click)="bookProduct()"
                  class="btn btn-default he-btn-14 he-btn-visibility">Réserver
          </button>
        </div>
      </div>

      <div class="row he-padding-top-40">
        <div class="col-md-10 offset-md-1 col-xs-12">
          <h3 class="he-txt-italic">Les appréciations</h3>
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="panel-group ">
            <div class="panel panel-default">
              <div *ngFor='let evaluation of product.evaluations'>
                <div class="col-md-4 col-md-offset-2 col-xs-7">

                  <h4>
                    Résidence :
                    <ng-template #t let-fill="fill">
                  <span [class.full]="fill === 100" class="star">
                    <span [style.width.%]="fill" class="half">&hearts;</span>&hearts;
                  </span>
                    </ng-template>
                    <ngb-rating [max]="5" [rate]="evaluation.residence" [readonly]="true"
                                [starTemplate]="t"></ngb-rating>
                  </h4>
                  <h4>
                    Emplacement :
                    <ng-template #t let-fill="fill">
                  <span [class.full]="fill === 100" class="star">
                    <span [style.width.%]="fill" class="half">&hearts;</span>&hearts;
                  </span>
                    </ng-template>
                    <ngb-rating [max]="5" [rate]="evaluation.location" [readonly]="true"
                                [starTemplate]="t"></ngb-rating>
                  </h4>
                  <h4>
                    Rapport qualité/prix :
                    <ng-template #t let-fill="fill">
                  <span [class.full]="fill === 100" class="star">
                    <span [style.width.%]="fill" class="half">&hearts;</span>&hearts;
                  </span>
                    </ng-template>
                    <ngb-rating [max]="5" [rate]="evaluation.valueForMoney" [readonly]="true"
                                [starTemplate]="t"></ngb-rating>
                  </h4>
                  <h4>
                    Communication :
                    <ng-template #t let-fill="fill">
                  <span [class.full]="fill === 100" class="star">
                    <span [style.width.%]="fill" class="half">&hearts;</span>&hearts;
                  </span>
                    </ng-template>
                    <ngb-rating [max]="5" [rate]="evaluation.communication" [readonly]="true"
                                [starTemplate]="t"></ngb-rating>
                  </h4>
                </div>
                <div col-md="4" col-xs="12" styleClass="he-flex-parent-column he-flex-between">
                  <h4>"{{evaluation.commentary}}"
                  </h4>
                  <h4 class="he-txt-right">
                    <em> - {{evaluation.username}}</em>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


