<div [formGroup]="filterForm" class="he-flex-parent he-flex-end he-margin-5 he-width">
  <input #dateFromDp="dpDayPicker" [dpDayPicker]="dayPickerConfig"
         [mode]="'month'"
         [theme]="'dp-material'"
         class="he-padding-5 he-width-120 he-height-3-rem he-margin-5"
         formControlName="dateFrom"
         type="text"
  />

  <input #dateToDp="dpDayPicker" [displayDate]="displayDate"
         [dpDayPicker]="dayPickerConfig"
         [mode]="'month'"
         [theme]="'dp-material'"
         class="he-padding-5 he-width-120 he-height-3-rem he-margin-5"
         formControlName="dateTo"
         type="text"
  />

  <div class="he-padding-5">
    <button class="btn btn-default he-btn-14" type="submit">Chercher</button>
  </div>
</div>
