<div class="form-group he-flex-parent he-flex-end he-margin-5 he-width">
  <h6 class="he-top-0-777-rem">Arrivée :</h6>
  <input type="date" class="he-height-2-rem he-margin-10" [(ngModel)]="checkInDate"/>
  <h6 class="he-top-0-777-rem">Départ :</h6>
  <input type="date" class="he-height-2-rem he-margin-10" [(ngModel)]="checkOutDate"/>
  <div class="he-padding-5">
    <button class="btn btn-default he-btn-14" type="submit" routerLink="/product-list/{{checkInDate}}/{{checkOutDate}}">Chercher</button>
  </div>
</div>
