<div class="he-flex-parent he-flex-end he-margin-5 he-width">
  <div class="form-group ">
    <div class="input-group he-width-120 ">
      <input class="form-control hasDatepicker" class="form-control " type="text" value=""/>
      <div class="input-group he-width-120 ">
        <input class="form-control hasDatepicker" class="form-control " type="text" value=""/>
        <div class="he-padding-5">
          <button class="btn btn-default he-btn-14" type="submit">Chercher</button>
        </div>
      </div>
    </div>
  </div>
</div>
